enigmatic_persistence.dat
icon.png
o_prof
options.txt
patchouli_data.json
rhino.local.properties
test.txt
TrashSlotSaveState.json
usercache.json
usernamecache.json
/crash-reports/
/emojiful/
/etched-sounds/
/coremods/
/kubejs/probe/
/local/ftbchunks/data/
/logs/
/mods/
/pollen-cache/
/resourcepacks/
/saves/
/schematics/uploaded/
/screenshots/
/server-resource-packs/
/shaderpacks/
/tconplanner/
/texturepacks/
/thingpacks/
/XaeroWaypoints/
/XaeroWaypoints_Backup032021/
/XaeroWorldMap/
.vscode/probe.class-definitions.json
.vscode/probe.code-snippets
.vscode/probe.lang-schema.json
config/canary.properties

config/sdrp-common.json
