enigmatic_persistence.dat
icon.png
o_prof
options.txt
patchouli_data.json
rhino.local.properties
test.txt
TrashSlotSaveState.json
usercache.json
usernamecache.json
/crash-reports/
/emojiful/
/etched-sounds/
/coremods/
/local/ftbchunks/data/
/logs/
/mods/
/pollen-cache/
/resourcepacks/
/saves/
/schematics/uploaded/
/screenshots/
/server-resource-packs/
/shaderpacks/
/tconplanner/
/texturepacks/
/thingpacks/
/XaeroWaypoints/
/XaeroWaypoints_Backup032021/
/XaeroWorldMap/


config/oculus.properties
config/fastload.properties
config/xaerominimap_entities.json
config/oculus.properties
